<div class = "container">
	<h1>New Task</h1>
	<%= form_for(@task) do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>
	<%= f.label :details%>
	<%= f.text_field :details%>
	<br>
	<%= f.label :completed %>
	<%= f.number_field :completed %>
	<br>
	<%= f.submit "Create new task" %>
	<% end %>
</div>
